* {
    margin: 0;
    padding: 0;
}

html {
    background: grey;
}

.chessboard {
    display: inline-block;
}

span {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.black {
    background: #000000;
}

.white {
    background: #ffffff;
}